[Unit]
Description=Chip Status

[Service]
Type=simple
ExecStart=/usr/bin/nodejs /var/www/ChipStatus/server.js
Restart=always
RestartSec=2
StandardOutput=syslog
SyslogIdentifier=ChipStatus
Environment=PATH=/usr/bin:/usr/local/bin:/usr/sbin:/bin
WorkingDirectory=/var/www/ChipStatus
# do this first: sudo adduser chip i2c
User=chip
Group=chip

[Install]
WantedBy=multi-user.target
